---
# FROM Session 1 Practice


### Get through as many of the questions below.

__Start!__
___

> __Q1) Using the lists defined below (`list1` and `list2`), add one list to the other.__
>
> Expected Output:
>
> `[1, 2, 3, 4]`

In [16]:
list1 = [1, 2]
list2 = [3, 4]

In [17]:
# Solution A
print(list1 + list2)

[1, 2, 3, 4]

In [18]:
# Solution B
list1 = [1, 2]
list1.extend(list2)
print(list1)

[1, 2, 3, 4]

---

> __Q2)__ If we list all the natural numbers below 10 that are multiples of 3 or 5, we get: 3, 5, 6 and 9.
>
> The sum of these multiples is 23.
>
> __Find the sum of all the multiples of 3 or 5 below 1000.__

In [19]:
multiples_list = []

In [20]:
# Suggested Solution

for num in range(1,10):
    if num % 3 == 0 or num % 5 == 0:
        multiples_list.append(num)

print(multiples_list)
print(sum(multiples_list))

#Answer: 233168

[3, 5, 6, 9]
23

---
> __Q3)__ I have a list of genders from a database:

In [21]:
genders = ['Male', 'Female', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Female', 'Female', 'Female']

> In order to use this list in a machine learning algorithm, we need `genders` to be converted to 1's and 0's.
>
> __First, write a for loop that appends a new list called `females` with a 1 if the gender is female and 0 otherwise.__

> Expected Output:
>
> `[0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1]`

In [22]:
females = []

In [23]:
# Suggested Solution

females = []
for gender in genders:
    if gender == 'Male':
        females.append(0)    # 0 - male
    elif gender == 'Female':
        females.append(1)    # 1 - female
    else:
        females.append(2)    # 2 - neither male nor female

females

[0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1]

---
> __Q4) Using a for loop, filter the following array of numbers into a new list containing only the even numbers.__

> **Hint:** If i is even, i % 2 == 0. Otherwise, i % 2 == 1. (% is the modulus operator. It returns the remainder.)

> Expected Output:
>
> `[2, 4, 6, 8, 10]`

In [24]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = []

In [25]:
# Suggested Solution

for num in numbers:
    if num % 2 == 0:
        even_numbers.append(num)
        
print(even_numbers)

[2, 4, 6, 8, 10]

---
> **Q5) Sort the list of numbers below from greatest to least**

In [26]:
numbers = [10, 2, -1, 0, 3, 5]

In [27]:
# Suggested Solution

numbers.sort(reverse=True)
print(numbers)

[10, 5, 3, 2, 0, -1]

---
### CHALLENGE QUESTIONS

> __Q6A) Create a list called `dwarves_list` that splits `dwarves_string` on the spaces.__
>
> *Hint: Use the method `.split()`*

> Expected Output:
>
> `['Bashful,', 'Doc,', 'Dopey,', 'Happy,', 'Sleepy,', 'Sneezy', 'and', 'Grumpy']`

In [1]:
dwarves_string = "Bashful, Doc, Dopey, Happy, Sleepy, Sneezy and Grumpy"

In [2]:
dwarves_list = # this is where you create a list from dwarves_string
#

SyntaxError: invalid syntax (<ipython-input-2-e9c748070b8e>, line 1)

In [3]:
# Suggested Solution

dwarves_list = dwarves_string.split()
dwarves_list

['Bashful,', 'Doc,', 'Dopey,', 'Happy,', 'Sleepy,', 'Sneezy', 'and', 'Grumpy']

> **Q6B) Now use a for loop to remove the commas.**

> *Hint: use method `.replace()` on string*

> *NOTE: You'll still see commas in your output between each element in the list. Just make sure they aren't in the strings.*

> Expected Output:

> `['Bashful', 'Doc', 'Dopey', 'Happy', 'Sleepy', 'Sneezy', 'and', 'Grumpy']`

In [4]:
# Suggested Solution

for position in range(len(dwarves_list)):
    name_with_comma = dwarves_list[position]
    dwarves_list[position] = name_with_comma.replace(',', '')
    
dwarves_list

['Bashful', 'Doc', 'Dopey', 'Happy', 'Sleepy', 'Sneezy', 'and', 'Grumpy']

> **Q6C) Finally, remove the word 'and' from your list.**

> Expected Output:

> `['Bashful,', 'Doc,', 'Dopey,', 'Happy,', 'Sleepy,', 'Sneezy', 'Grumpy']`

In [5]:
# Suggested Solution

dwarves_list.remove('and')
dwarves_list

['Bashful', 'Doc', 'Dopey', 'Happy', 'Sleepy', 'Sneezy', 'Grumpy']

# -- End Session 1 Practice -- 
---

---

# FROM Session 2 Practice -- Independent Practice: Dictionaries

10 - 15 min.

**Using what we have learned so far, how would we build a program that takes a name and provides me with the person’s number if they are in our contacts?**

---

Make a phone book program that:
- takes a name and finds number.
- if the name is not in the phone book, prints `"Not a contact. Would you like to add that name: Yes or No?"`
- if yes, ask for the number and add number to phonebook then print: `“Added ‘Name: Phone Number’”`
- if no, print `"Not a contact and not added."`

In [34]:
phonebook = {
    'Luna': '444 - 4444',
    'Tee': '123 - 4567',
    'Ada Lovelace': '101 - 0101',
    'P1': '1emailAddress@gmail.com',
    'P2': 'emailAddress2@gmail.com',
    'P3': 'P3emailAddress@gmail.com',
    'Friend Two': '222-222'
    }

In [41]:
# Suggested Solution

# takes a name and finds number.
name = input("Whose number do you need? ")

if name in list(phonebook.keys()):
    print(name.title(), phonebook[name])

# if the name is not in the phone book, prints "Not a contact. Would you like to add that name: Yes or No?"
else:
    response = input("{} is not a contact. Would you like to add that name: Yes or No?".format(name))
    
    # if yes, ask for the number and add to phonebook
    if response == 'Yes':
        new_number = input("What is the number?")
        phonebook[name] = new_number
        print("Added", name.title(), ": ", new_number)
    # if no, print "Not a contact and not added."
    elif response == 'No':
        print("Not a contact and not added.")

Whose number do you need? Katie
Katie is not a contact. Would you like to add that name: Yes or No?Yes
What is the number?333-3333
Added Katie :  333-3333

---
# GUIDED WALKTHROUGH: Nesting Dictionaries

---
## List OF dictionaries

- It’s common to store a number of dictionaries in a list when each dictionary contains many kinds of information about one object.

- For example, you might create a dictionary for each user on a website and store the individual dictionaries in a list called users.

- All of the dictionaries in the list **should have an identical structure** so you can loop through the list and work with each dictionary object in the same way.

---

> Consider the dictionary called `users` below. 

> **Filter through the array of users, returning only those who are older than 18. Add these users to a new list and print the list.**

> Expected Output:

> `[{'age': 21, 'name': 'Sally'},
  {'age': 77, 'name': 'Moe'},
  {'age': 19, 'name': 'Leslie'}]`

In [42]:
users = [
    {'name': 'John', 'age': 17},
    {'name': 'Sally', 'age': 21},
    {'name': 'Bill', 'age': 10},
    {'name': 'Moe', 'age': 77},
    {'name': 'Jane', 'age': 18},
    {'name': 'Leslie', 'age': 19}
]

In [43]:
# Suggested Solution

users_over18 = []

for user in users:
    if user['age'] > 18:
        users_over18.append(user)
        
users_over18

[{'age': 21, 'name': 'Sally'},
 {'age': 77, 'name': 'Moe'},
 {'age': 19, 'name': 'Leslie'}]

> Consider the dictionary called `users` below. 

> **Filter through the array of users, returning only those who are students. Add these students to a new list and print the list.**

> Expected Output:

> `[{'name': 'Kelly', 'role': 'Student'},
  {'name': 'Alex', 'role': 'Student'},
  {'name': 'Lia', 'role': 'Student'}]`

In [44]:
users = [
    {'name': 'Kelly', 'role': 'Student'},
    {'name': 'Alex', 'role': 'Student'},
    {'name': 'Lia', 'role': 'Student'},
    {'name': 'Katie', 'role': 'Teacher'}
]

In [45]:
# Suggested Solution

students = []

for user in users:
    if user['role'] == 'Student':
        students.append(user)
        
students

[{'name': 'Kelly', 'role': 'Student'},
 {'name': 'Alex', 'role': 'Student'},
 {'name': 'Lia', 'role': 'Student'}]

> Consider the list called `names` below. 

> **Return a list of full names based on the dictionaries in the list.**

> Expected Output:

> `['Grace Hopper', 'Radia Perlman', 'Ada Lovelace']`

In [46]:
names = [
    {'first_name': 'Grace', 'last_name': 'Hopper'},
    {'first_name': 'Radia', 'last_name': 'Perlman'},
    {'first_name': 'Ada', 'last_name': 'Lovelace'}
]

In [47]:
# Suggested Solution

full_names = []

for person in names:
    full_names.append(person['first_name'] + ' ' + person['last_name'])
        
full_names

['Grace Hopper', 'Radia Perlman', 'Ada Lovelace']

---

# FROM Session 2 Practice -- Independent Practice: Dictionaries and Data!

15 min.

---


## LYFT Intra-day JSON Exploration

> 1) Download the `lyft_040219_cleaned.json` file from Slack.

> 2) Open up the BQuant Project that you have been working in.

> 3) Click the Up arrow above the list of files (in older versions of BQuant, this will be a + sign).

> 4) This will allow you to choose a file to upload to your project. You can select the `.json` file from there and it will import into your project.

> 5) You may have to click the Refresh icon at the top to refresh the file list and see the `.json` file.

> **6) Make sure that this `.json` file is in the same folder as this jupyter notebook.**

---

#### If you are curious...

*FROM Dan, Instructor of NYC Cohort:*

This data was retrieved using AlphaVantage's intra-day stock API.

MSFT Demo: https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=MSFT&interval=5min&outputsize=full&apikey=demo

Query used for LYFT data (note: you must enter an apikey (https://www.alphavantage.co/support/#api-key) at the very end for it work): https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=LYFT&interval=5min&outputsize=full&apikey=

In [48]:
# Run this cell in order to import a library that we need to read in the `.json` file

import json

In [57]:
# Open the JSON text file for reading ('r')
#   This file contains a bunch of dictionaries.
#   Here, we convert it from JavaScript to a Python object

data = json.load(open('lyft_040219_cleaned.json', 'r'))

In [58]:
data

{'meta_data': {'information': 'Intraday (5min) open, high, low, close prices and volume',
  'interval': '5min',
  'last_refreshed': '2019-04-02 16:00:00',
  'outputsize': 'Full size',
  'symbol': 'LYFT',
  'time_zone': 'US/Eastern'},
 'time_series_5mins': {'2019-03-29 11:50:00': {'close': '86.6671',
   'high': '88.5800',
   'low': '86.5000',
   'open': '87.5000',
   'volume': '2698956'},
  '2019-03-29 11:55:00': {'close': '86.6900',
   'high': '87.2600',
   'low': '85.5100',
   'open': '86.6300',
   'volume': '5938757'},
  '2019-03-29 12:00:00': {'close': '85.4300',
   'high': '87.4500',
   'low': '85.2600',
   'open': '86.6000',
   'volume': '4240446'},
  '2019-03-29 12:05:00': {'close': '85.4000',
   'high': '86.2500',
   'low': '85.1500',
   'open': '85.3800',
   'volume': '2501364'},
  '2019-03-29 12:10:00': {'close': '85.3400',
   'high': '85.6000',
   'low': '85.0000',
   'open': '85.3800',
   'volume': '2756692'},
  '2019-03-29 12:15:00': {'close': '84.1280',
   'high': '85.7400',
   'low': '84.0000',
   'open': '85.3100',
   'volume': '3390947'},
  '2019-03-29 12:20:00': {'close': '83.0000',
   'high': '84.3600',
   'low': '82.5000',
   'open': '84.2000',
   'volume': '2700606'},
  '2019-03-29 12:25:00': {'close': '83.2200',
   'high': '83.6800',
   'low': '82.5700',
   'open': '83.0000',
   'volume': '1667727'},
  '2019-03-29 12:30:00': {'close': '83.2500',
   'high': '83.5000',
   'low': '82.1600',
   'open': '83.2200',
   'volume': '1719621'},
  '2019-03-29 12:35:00': {'close': '83.0500',
   'high': '83.2500',
   'low': '82.2600',
   'open': '83.2500',
   'volume': '1130012'},
  '2019-03-29 12:40:00': {'close': '82.2300',
   'high': '83.0800',
   'low': '82.1100',
   'open': '83.0600',
   'volume': '1025176'},
  '2019-03-29 12:45:00': {'close': '80.6400',
   'high': '82.2200',
   'low': '80.3900',
   'open': '82.2100',
   'volume': '2136367'},
  '2019-03-29 12:50:00': {'close': '80.6600',
   'high': '80.8700',
   'low': '80.1100',
   'open': '80.7100',
   'volume': '1727561'},
  '2019-03-29 12:55:00': {'close': '80.5500',
   'high': '81.3400',
   'low': '80.3000',
   'open': '80.7000',
   'volume': '1109857'},
  '2019-03-29 13:00:00': {'close': '81.0100',
   'high': '81.4100',
   'low': '80.5100',
   'open': '80.5200',
   'volume': '917509'},
  '2019-03-29 13:05:00': {'close': '80.4100',
   'high': '81.1500',
   'low': '80.2100',
   'open': '81.0400',
   'volume': '713509'},
  '2019-03-29 13:10:00': {'close': '80.2000',
   'high': '80.7500',
   'low': '80.0300',
   'open': '80.4260',
   'volume': '949407'},
  '2019-03-29 13:15:00': {'close': '80.2300',
   'high': '80.4500',
   'low': '80.0000',
   'open': '80.1800',
   'volume': '1095341'},
  '2019-03-29 13:20:00': {'close': '80.8100',
   'high': '80.9800',
   'low': '80.1200',
   'open': '80.2350',
   'volume': '767649'},
  '2019-03-29 13:25:00': {'close': '80.8500',
   'high': '81.6600',
   'low': '80.6400',
   'open': '80.8800',
   'volume': '827545'},
  '2019-03-29 13:30:00': {'close': '80.3800',
   'high': '80.8900',
   'low': '80.1700',
   'open': '80.8200',
   'volume': '459844'},
  '2019-03-29 13:35:00': {'close': '80.4900',
   'high': '80.8650',
   'low': '80.2200',
   'open': '80.3600',
   'volume': '429657'},
  '2019-03-29 13:40:00': {'close': '80.8200',
   'high': '81.1900',
   'low': '80.4450',
   'open': '80.4450',
   'volume': '608188'},
  '2019-03-29 13:45:00': {'close': '80.6600',
   'high': '80.8900',
   'low': '80.2300',
   'open': '80.8000',
   'volume': '523211'},
  '2019-03-29 13:50:00': {'close': '80.6500',
   'high': '80.9600',
   'low': '80.4100',
   'open': '80.6600',
   'volume': '310226'},
  '2019-03-29 13:55:00': {'close': '80.8050',
   'high': '80.8900',
   'low': '80.3200',
   'open': '80.6200',
   'volume': '641202'},
  '2019-03-29 14:00:00': {'close': '80.5941',
   'high': '81.0400',
   'low': '80.5300',
   'open': '80.8200',
   'volume': '404190'},
  '2019-03-29 14:05:00': {'close': '80.6000',
   'high': '80.8400',
   'low': '80.4000',
   'open': '80.5800',
   'volume': '600404'},
  '2019-03-29 14:10:00': {'close': '80.7700',
   'high': '81.4300',
   'low': '80.6200',
   'open': '80.6200',
   'volume': '675732'},
  '2019-03-29 14:15:00': {'close': '81.0600',
   'high': '81.1200',
   'low': '80.4000',
   'open': '80.7800',
   'volume': '693202'},
  '2019-03-29 14:20:00': {'close': '81.8450',
   'high': '81.9700',
   'low': '81.0000',
   'open': '81.0600',
   'volume': '1138904'},
  '2019-03-29 14:25:00': {'close': '81.8700',
   'high': '82.3600',
   'low': '81.6000',
   'open': '81.8000',
   'volume': '728105'},
  '2019-03-29 14:30:00': {'close': '81.6400',
   'high': '82.3000',
   'low': '81.3830',
   'open': '81.9300',
   'volume': '544237'},
  '2019-03-29 14:35:00': {'close': '82.4450',
   'high': '82.6100',
   'low': '81.6200',
   'open': '81.6899',
   'volume': '631402'},
  '2019-03-29 14:40:00': {'close': '81.7900',
   'high': '82.6400',
   'low': '81.6400',
   'open': '82.4800',
   'volume': '621656'},
  '2019-03-29 14:45:00': {'close': '81.3800',
   'high': '82.0700',
   'low': '81.1600',
   'open': '81.7850',
   'volume': '526032'},
  '2019-03-29 14:50:00': {'close': '80.8400',
   'high': '81.4000',
   'low': '80.7100',
   'open': '81.3800',
   'volume': '637496'},
  '2019-03-29 14:55:00': {'close': '81.1400',
   'high': '81.1900',
   'low': '80.6100',
   'open': '80.8224',
   'volume': '498786'},
  '2019-03-29 15:00:00': {'close': '80.7500',
   'high': '81.2500',
   'low': '80.6000',
   'open': '81.1700',
   'volume': '452352'},
  '2019-03-29 15:05:00': {'close': '80.6800',
   'high': '80.8900',
   'low': '80.5000',
   'open': '80.7200',
   'volume': '532019'},
  '2019-03-29 15:10:00': {'close': '81.1000',
   'high': '81.2000',
   'low': '80.6900',
   'open': '80.7200',
   'volume': '500538'},
  '2019-03-29 15:15:00': {'close': '81.4015',
   'high': '81.5300',
   'low': '80.9900',
   'open': '81.1200',
   'volume': '659432'},
  '2019-03-29 15:20:00': {'close': '80.8000',
   'high': '81.4000',
   'low': '80.7600',
   'open': '81.3800',
   'volume': '599767'},
  '2019-03-29 15:25:00': {'close': '80.8500',
   'high': '81.0600',
   'low': '80.6600',
   'open': '80.8500',
   'volume': '403691'},
  '2019-03-29 15:30:00': {'close': '80.7000',
   'high': '81.0000',
   'low': '80.6100',
   'open': '80.8500',
   'volume': '437477'},
  '2019-03-29 15:35:00': {'close': '80.3600',
   'high': '80.7300',
   'low': '80.0000',
   'open': '80.7200',
   'volume': '1659655'},
  '2019-03-29 15:40:00': {'close': '80.3800',
   'high': '80.7000',
   'low': '80.1800',
   'open': '80.4000',
   'volume': '651031'},
  '2019-03-29 15:45:00': {'close': '80.1564',
   'high': '80.5700',
   'low': '80.1564',
   'open': '80.3950',
   'volume': '531231'},
  '2019-03-29 15:50:00': {'close': '79.0900',
   'high': '80.3000',
   'low': '78.6200',
   'open': '80.1800',
   'volume': '2080994'},
  '2019-03-29 15:55:00': {'close': '79.0000',
   'high': '79.4000',
   'low': '78.9500',
   'open': '79.1200',
   'volume': '1173781'},
  '2019-03-29 16:00:00': {'close': '78.3600',
   'high': '79.1700',
   'low': '78.0500',
   'open': '79.0099',
   'volume': '2124194'},
  '2019-04-01 09:35:00': {'close': '72.2000',
   'high': '75.0000',
   'low': '72.2000',
   'open': '74.8100',
   'volume': '4349412'},
  '2019-04-01 09:40:00': {'close': '72.1600',
   'high': '72.3500',
   'low': '71.1300',
   'open': '72.1700',
   'volume': '4480765'},
  '2019-04-01 09:45:00': {'close': '69.7000',
   'high': '72.1800',
   'low': '69.3500',
   'open': '72.1125',
   'volume': '2791876'},
  '2019-04-01 09:50:00': {'close': '70.9400',
   'high': '71.0900',
   'low': '69.1600',
   'open': '69.5958',
   'volume': '1712790'},
  '2019-04-01 09:55:00': {'close': '70.8000',
   'high': '71.2900',
   'low': '70.1100',
   'open': '70.8950',
   'volume': '1060019'},
  '2019-04-01 10:00:00': {'close': '70.1945',
   'high': '71.0000',
   'low': '69.7600',
   'open': '70.7589',
   'volume': '1205160'},
  '2019-04-01 10:05:00': {'close': '70.8900',
   'high': '71.1000',
   'low': '69.8500',
   'open': '70.2400',
   'volume': '915827'},
  '2019-04-01 10:10:00': {'close': '70.4300',
   'high': '71.0000',
   'low': '70.1200',
   'open': '71.0000',
   'volume': '464422'},
  '2019-04-01 10:15:00': {'close': '71.5000',
   'high': '71.5100',
   'low': '70.4503',
   'open': '70.4503',
   'volume': '819962'},
  '2019-04-01 10:20:00': {'close': '71.2000',
   'high': '71.7400',
   'low': '71.0000',
   'open': '71.4500',
   'volume': '593471'},
  '2019-04-01 10:25:00': {'close': '71.4800',
   'high': '71.7800',
   'low': '71.1000',
   'open': '71.3000',
   'volume': '643951'},
  '2019-04-01 10:30:00': {'close': '70.6600',
   'high': '71.7500',
   'low': '70.5000',
   'open': '71.4100',
   'volume': '878158'},
  '2019-04-01 10:35:00': {'close': '70.8900',
   'high': '71.0600',
   'low': '70.5000',
   'open': '70.6900',
   'volume': '431076'},
  '2019-04-01 10:40:00': {'close': '70.7000',
   'high': '70.9700',
   'low': '70.5100',
   'open': '70.8450',
   'volume': '337205'},
  '2019-04-01 10:45:00': {'close': '70.4700',
   'high': '70.8200',
   'low': '70.1500',
   'open': '70.6650',
   'volume': '380883'},
  '2019-04-01 10:50:00': {'close': '70.7100',
   'high': '71.0000',
   'low': '70.3000',
   'open': '70.4625',
   'volume': '315142'},
  '2019-04-01 10:55:00': {'close': '70.5100',
   'high': '70.7443',
   'low': '70.2500',
   'open': '70.7443',
   'volume': '450176'},
  '2019-04-01 11:00:00': {'close': '70.3450',
   'high': '70.9008',
   'low': '70.2500',
   'open': '70.5000',
   'volume': '398251'},
  '2019-04-01 11:05:00': {'close': '70.4600',
   'high': '70.6700',
   'low': '70.3300',
   'open': '70.4100',
   'volume': '234667'},
  '2019-04-01 11:10:00': {'close': '70.6200',
   'high': '70.8600',
   'low': '70.4300',
   'open': '70.5000',
   'volume': '290855'},
  '2019-04-01 11:15:00': {'close': '70.5700',
   'high': '70.8900',
   'low': '70.4300',
   'open': '70.6000',
   'volume': '231798'},
  '2019-04-01 11:20:00': {'close': '69.8100',
   'high': '70.7500',
   'low': '69.8000',
   'open': '70.5800',
   'volume': '789605'},
  '2019-04-01 11:25:00': {'close': '69.6000',
   'high': '69.8800',
   'low': '69.2500',
   'open': '69.8100',
   'volume': '740160'},
  '2019-04-01 11:30:00': {'close': '69.7000',
   'high': '69.8800',
   'low': '69.6100',
   'open': '69.6728',
   'volume': '215918'},
  '2019-04-01 11:35:00': {'close': '69.7300',
   'high': '69.7600',
   'low': '69.5401',
   'open': '69.7100',
   'volume': '225274'},
  '2019-04-01 11:40:00': {'close': '69.7450',
   'high': '69.8500',
   'low': '69.4600',
   'open': '69.7395',
   'volume': '363727'},
  '2019-04-01 11:45:00': {'close': '70.5900',
   'high': '70.6700',
   'low': '69.7900',
   'open': '69.9000',
   'volume': '536870'},
  '2019-04-01 11:50:00': {'close': '70.3200',
   'high': '70.5700',
   'low': '70.2100',
   'open': '70.5700',
   'volume': '227305'},
  '2019-04-01 11:55:00': {'close': '70.1400',
   'high': '70.5000',
   'low': '70.1400',
   'open': '70.3300',
   'volume': '181564'},
  '2019-04-01 12:00:00': {'close': '69.3200',
   'high': '70.1000',
   'low': '69.3000',
   'open': '70.1000',
   'volume': '598162'},
  '2019-04-01 12:05:00': {'close': '69.5500',
   'high': '69.6800',
   'low': '69.2500',
   'open': '69.4200',
   'volume': '269626'},
  '2019-04-01 12:10:00': {'close': '69.6195',
   'high': '69.7500',
   'low': '69.5200',
   'open': '69.5500',
   'volume': '151271'},
  '2019-04-01 12:15:00': {'close': '69.6374',
   'high': '69.6800',
   'low': '69.5000',
   'open': '69.6000',
   'volume': '134439'},
  '2019-04-01 12:20:00': {'close': '69.6578',
   'high': '69.6900',
   'low': '69.4400',
   'open': '69.6321',
   'volume': '175231'},
  '2019-04-01 12:25:00': {'close': '69.8350',
   'high': '70.0000',
   'low': '69.6450',
   'open': '69.6450',
   'volume': '229898'},
  '2019-04-01 12:30:00': {'close': '69.6100',
   'high': '69.8500',
   'low': '69.6100',
   'open': '69.8400',
   'volume': '140313'},
  '2019-04-01 12:35:00': {'close': '69.8900',
   'high': '69.9300',
   'low': '69.5400',
   'open': '69.6471',
   'volume': '141787'},
  '2019-04-01 12:40:00': {'close': '70.0150',
   'high': '70.2670',
   'low': '69.8800',
   'open': '69.9000',
   'volume': '281980'},
  '2019-04-01 12:45:00': {'close': '69.6101',
   'high': '70.0350',
   'low': '69.6100',
   'open': '70.0100',
   'volume': '203423'},
  '2019-04-01 12:50:00': {'close': '69.7600',
   'high': '69.8900',
   'low': '69.6598',
   'open': '69.6600',
   'volume': '103518'},
  '2019-04-01 12:55:00': {'close': '70.4300',
   'high': '70.5000',
   'low': '69.7500',
   'open': '69.7800',
   'volume': '284308'},
  '2019-04-01 13:00:00': {'close': '70.3400',
   'high': '70.7800',
   'low': '70.2600',
   'open': '70.4200',
   'volume': '420741'},
  '2019-04-01 13:05:00': {'close': '70.5025',
   'high': '70.7500',
   'low': '70.2500',
   'open': '70.3200',
   'volume': '316332'},
  '2019-04-01 13:10:00': {'close': '69.6608',
   'high': '70.7300',
   'low': '69.5400',
   'open': '70.5500',
   'volume': '415453'},
  '2019-04-01 13:15:00': {'close': '69.7353',
   'high': '69.8900',
   'low': '69.4300',
   'open': '69.7000',
   'volume': '298308'},
  '2019-04-01 13:20:00': {'close': '70.0100',
   'high': '70.1800',
   'low': '69.6100',
   'open': '69.6600',
   'volume': '223450'},
  '2019-04-01 13:25:00': {'close': '70.0800',
   'high': '70.3490',
   'low': '69.9300',
   'open': '70.0000',
   'volume': '168336'},
  '2019-04-01 13:30:00': {'close': '70.1600',
   'high': '70.3000',
   'low': '70.0300',
   'open': '70.0800',
   'volume': '180441'},
  '2019-04-01 13:35:00': {'close': '70.3500',
   'high': '70.5250',
   'low': '70.1400',
   'open': '70.1400',
   'volume': '210054'},
  '2019-04-01 13:40:00': {'close': '70.0700',
   'high': '70.4700',
   'low': '70.0000',
   'open': '70.3350',
   'volume': '157641'},
  '2019-04-01 13:45:00': {'close': '70.3800',
   'high': '70.4300',
   'low': '69.7800',
   'open': '70.1000',
   'volume': '242067'},
  '2019-04-01 13:50:00': {'close': '70.7225',
   'high': '71.1200',
   'low': '70.3650',
   'open': '70.3900',
   'volume': '534351'},
  '2019-04-01 13:55:00': {'close': '70.6900',
   'high': '70.9700',
   'low': '70.4589',
   'open': '70.8000',
   'volume': '249202'},
  '2019-04-01 14:00:00': {'close': '70.5108',
   'high': '70.7200',
   'low': '70.2600',
   'open': '70.6950',
   'volume': '153879'},
  '2019-04-01 14:05:00': {'close': '70.3400',
   'high': '70.6200',
   'low': '70.2500',
   'open': '70.5700',
   'volume': '113239'},
  '2019-04-01 14:10:00': {'close': '70.4800',
   'high': '70.5200',
   'low': '70.3600',
   'open': '70.3600',
   'volume': '70513'},
  '2019-04-01 14:15:00': {'close': '70.1500',
   'high': '70.4600',
   'low': '70.0000',
   'open': '70.4600',
   'volume': '241280'},
  '2019-04-01 14:20:00': {'close': '69.9325',
   'high': '70.2750',
   'low': '69.5800',
   'open': '70.1500',
   'volume': '400423'},
  '2019-04-01 14:25:00': {'close': '70.0800',
   'high': '70.1500',
   'low': '69.9000',
   'open': '69.9300',
   'volume': '95875'},
  '2019-04-01 14:30:00': {'close': '70.0847',
   'high': '70.2400',
   'low': '70.0000',
   'open': '70.1000',
   'volume': '175973'},
  '2019-04-01 14:35:00': {'close': '70.0300',
   'high': '70.2400',
   'low': '70.0000',
   'open': '70.0400',
   'volume': '164693'},
  '2019-04-01 14:40:00': {'close': '69.9161',
   'high': '70.3300',
   'low': '69.9000',
   'open': '70.0600',
   'volume': '183623'},
  '2019-04-01 14:45:00': {'close': '70.1000',
   'high': '70.1600',
   'low': '69.8800',
   'open': '69.9300',
   'volume': '138870'},
  '2019-04-01 14:50:00': {'close': '69.9940',
   'high': '70.1000',
   'low': '69.9500',
   'open': '70.0901',
   'volume': '99982'},
  '2019-04-01 14:55:00': {'close': '70.2000',
   'high': '70.3500',
   'low': '69.9200',
   'open': '69.9600',
   'volume': '193801'},
  '2019-04-01 15:00:00': {'close': '70.0700',
   'high': '70.2000',
   'low': '69.9700',
   'open': '70.1600',
   'volume': '136715'},
  '2019-04-01 15:05:00': {'close': '69.7900',
   'high': '70.1000',
   'low': '69.5200',
   'open': '70.0400',
   'volume': '340726'},
  '2019-04-01 15:10:00': {'close': '69.0050',
   'high': '69.8300',
   'low': '69.0000',
   'open': '69.8000',
   'volume': '712369'},
  '2019-04-01 15:15:00': {'close': '68.7650',
   'high': '69.0100',
   'low': '68.5500',
   'open': '69.0000',
   'volume': '741464'},
  '2019-04-01 15:20:00': {'close': '68.5850',
   'high': '69.0000',
   'low': '68.5645',
   'open': '68.7600',
   'volume': '356081'},
  '2019-04-01 15:25:00': {'close': '68.6800',
   'high': '68.9900',
   'low': '68.5760',
   'open': '68.5760',
   'volume': '246502'},
  '2019-04-01 15:30:00': {'close': '68.9000',
   'high': '68.9000',
   'low': '68.6200',
   'open': '68.6800',
   'volume': '271802'},
  '2019-04-01 15:35:00': {'close': '68.6100',
   'high': '68.9000',
   'low': '68.5701',
   'open': '68.8600',
   'volume': '384996'},
  '2019-04-01 15:40:00': {'close': '68.7800',
   'high': '68.7800',
   'low': '68.4300',
   'open': '68.6000',
   'volume': '657773'},
  '2019-04-01 15:45:00': {'close': '68.5810',
   'high': '68.7889',
   'low': '68.5000',
   'open': '68.7400',
   'volume': '316517'},
  '2019-04-01 15:50:00': {'close': '68.2700',
   'high': '68.6232',
   'low': '68.2500',
   'open': '68.6200',
   'volume': '460992'},
  '2019-04-01 15:55:00': {'close': '67.8575',
   'high': '68.4400',
   'low': '67.7899',
   'open': '68.2600',
   'volume': '953479'},
  '2019-04-01 16:00:00': {'close': '69.0400',
   'high': '69.5000',
   'low': '67.7901',
   'open': '67.8500',
   'volume': '1356883'},
  '2019-04-02 09:35:00': {'close': '68.4500',
   'high': '68.9000',
   'low': '66.1000',
   'open': '66.9000',
   'volume': '2844120'},
  '2019-04-02 09:40:00': {'close': '69.3920',
   'high': '69.7000',
   'low': '67.8100',
   'open': '68.4500',
   'volume': '1282471'},
  '2019-04-02 09:45:00': {'close': '69.5450',
   'high': '69.9700',
   'low': '69.0400',
   'open': '69.4400',
   'volume': '1121338'},
  '2019-04-02 09:50:00': {'close': '70.0700',
   'high': '70.2000',
   'low': '69.4000',
   'open': '69.5629',
   'volume': '911457'},
  '2019-04-02 09:55:00': {'close': '68.3500',
   'high': '70.2000',
   'low': '68.1000',
   'open': '70.0700',
   'volume': '978004'},
  '2019-04-02 10:00:00': {'close': '68.5800',
   'high': '68.7700',
   'low': '67.8500',
   'open': '68.3500',
   'volume': '593086'},
  '2019-04-02 10:05:00': {'close': '68.5595',
   'high': '68.8650',
   'low': '68.1625',
   'open': '68.5800',
   'volume': '315832'},
  '2019-04-02 10:10:00': {'close': '69.2100',
   'high': '69.7000',
   'low': '68.5046',
   'open': '68.5800',
   'volume': '509972'},
  '2019-04-02 10:15:00': {'close': '68.7521',
   'high': '69.4000',
   'low': '68.6600',
   'open': '69.2500',
   'volume': '318711'},
  '2019-04-02 10:20:00': {'close': '69.2900',
   'high': '69.4500',
   'low': '68.7000',
   'open': '68.8876',
   'volume': '191803'},
  '2019-04-02 10:25:00': {'close': '68.8648',
   'high': '69.4700',
   'low': '68.7100',
   'open': '69.3100',
   'volume': '236286'},
  '2019-04-02 10:30:00': {'close': '68.1200',
   'high': '69.0800',
   'low': '67.8600',
   'open': '68.8404',
   'volume': '380425'},
  '2019-04-02 10:35:00': {'close': '68.4347',
   'high': '68.5000',
   'low': '67.9800',
   'open': '68.1200',
   'volume': '221792'},
  '2019-04-02 10:40:00': {'close': '68.2100',
   'high': '68.7000',
   'low': '68.1200',
   'open': '68.4900',
   'volume': '122361'},
  '2019-04-02 10:45:00': {'close': '68.5695',
   'high': '68.6500',
   'low': '68.1700',
   'open': '68.2000',
   'volume': '131137'},
  '2019-04-02 10:50:00': {'close': '68.2200',
   'high': '68.5412',
   'low': '68.0700',
   'open': '68.5412',
   'volume': '96455'},
  '2019-04-02 10:55:00': {'close': '68.1700',
   'high': '68.4500',
   'low': '68.0700',
   'open': '68.2200',
   'volume': '84472'},

---
### About the Data:

- LYFT intra-day price data from AlphaVantage
- Five-minute interval, starting at '2019-03-29 11:50:00'

---
> **Q1) Access the value associated with the key `'meta_data'`.**

In [59]:
# Suggested Solution

data['meta_data']

{'information': 'Intraday (5min) open, high, low, close prices and volume',
 'interval': '5min',
 'last_refreshed': '2019-04-02 16:00:00',
 'outputsize': 'Full size',
 'symbol': 'LYFT',
 'time_zone': 'US/Eastern'}

> **Q2) How many price data points are there?**

In [60]:
# Suggested Solution

num_prices = len(data['time_series_5mins'])
print('Number of price datapoints: ', num_prices)

Number of price datapoints:  207

> **Q3) Print all the data for the most recent price datapoint (i.e., close, high, low, open, volume).**

In [61]:
# Suggested Solution

# First datapoint
data['time_series_5mins']['2019-04-02 16:00:00']

{'close': '69.0900',
 'high': '69.6000',
 'low': '68.9100',
 'open': '68.9700',
 'volume': '887264'}

> **Q4) Create a new list called `closing_prices`. And then:** 

> - Convert each close price to a float.

> - Add each converted close price to that list `closing_prices`.

> - Print the first 50 prices in `closing_prices`.

> - Get the average of the close prices.

In [62]:
# Suggested Solution

closing_prices = []

for day, prices in data['time_series_5mins'].items():
    closing_prices.append(float(prices['close']))
    
print(closing_prices[:50])


average_close_price = sum(closing_prices)/len(closing_prices)

print("Average Close Price:", str(average_close_price))

[69.09, 69.0053, 69.06, 69.0896, 69.05, 69.3, 69.34, 68.87, 68.85, 68.39, 68.255, 68.1957, 68.1084, 68.1, 68.725, 68.7, 68.7754, 69.349, 69.07, 69.138, 69.22, 69.34, 69.06, 68.7296, 68.68, 69.0197, 68.586, 68.62, 68.56, 68.31, 68.2569, 68.25, 68.4578, 68.45, 68.5439, 68.78, 68.76, 68.85, 68.75, 67.987, 68.1001, 67.95, 67.4783, 67.1301, 67.32, 66.93, 67.3032, 66.71, 66.9398, 66.975]
Average Close Price: 72.23465845410627

---

# FROM Session 2 Practice -- Independent Practice: Basic Functions

---

> **Q1) Write a function called `high_low()` that prints "High!" if a variable `my_number` is greater than 10, and "Low!" if it isn't. Then call the function to make sure it works.**

In [63]:
# Suggested Solution

def high_low():
  if my_number > 10:
    print("High!")
  else:
    print("Low!")

my_number = 17
high_low()

my_number = 8
high_low()

High!
Low!

> **Q2) Thanks a Latte**

> Imagine that you are tasked with creating a program to calculate the total amount, including sales tax, for each item at a coffee shop.
> - Wrtie a function called `calculate_total()`. 
> - This function should be able to take 1 parameter for the price of an item.
> - This function should print the calculated total of any price passed to the function, which is: price + (price * sales_tax_rate)
> - Use 0.10 for the sales_tax_rate.

> Expected Output:

> `The total is $ 6.05`

> `The total is $ 5.225`

In [64]:
price_latte = 5.5
price_americano = 4.75

In [65]:
# Suggested Solution

def calculate_total(price):
    sales_tax_rate = .10
    total_amount = price + (price * sales_tax_rate)
    print("The total is $", total_amount)
#this would round it:
#print("The total is $", round(total_amount,2))

In [66]:
calculate_total(price_latte) # This will print 6.05.
calculate_total(price_americano) # This will print 5.225.

The total is $ 6.05
The total is $ 5.225

---

# FROM Session 2 Practice -- Independent Practice: Multiple Parameters

---

> **Q1) Let's revisit the previous independent practice exercise, 'Thanks a Latte'.**

> What about changing sales tax? We can pass as many values into the function as we want, and we can have as many parameters as we want. 

> So go ahead and rewrite your previous `calculate_total()` function to allow for a second parameter — `taxes`.

In [67]:
# Suggested Solution

def calculate_total(price, taxes):
    total_amount = price + (price * taxes)
    print("The total is $", total_amount)

calculate_total(price_latte, .10) # "price" is 5.5; "taxes" is .10. This will print 6.05.
calculate_total(price_americano, .12) # "price" is 4.75; "taxes" is .12. This will print 5.32.

The total is $ 6.05
The total is $ 5.32

> **Q2) Functions With Logic**

> Let's consider a shipping example. Depending on the order amount, a customer might get free shipping, so the print statement is different depending on the order amount.
> Use the starter code below, which works for one product. Can you build a function from it that works for any product and `order_amount`?

> Free shipping for any orders greater than $30. 

> Otherwise there is a $5.00 shipping charge.

In [68]:
product = "Hanging Planter"
order_amount = 35

# Starter Code

print("Thank you for ordering the Hanging Planter.")
if order_amount >= 30:
    print("It's your lucky day! There is no shipping charge for orders over $30.00.")
else:
    print("There will be a $5.00 shipping charge for this order.")

Thank you for ordering the Hanging Planter.
It's your lucky day! There is no shipping charge for orders over $30.00.

In [69]:
# Suggested Solution

def print_order(product, order_amount):
    print("Thank you for ordering the", product, ".")
    if order_amount >= 30:
        print("It's your lucky day! There is no shipping charge for orders over $30.00.")
    else:
        print("There will be a $5.00 shipping charge for this order.")

print_order("Hanging Planter", 35)
print_order("Shell Mirror", 15)
print_order("Modern Shag Rug", 75)

Thank you for ordering the Hanging Planter .
It's your lucky day! There is no shipping charge for orders over $30.00.
Thank you for ordering the Shell Mirror .
There will be a $5.00 shipping charge for this order.
Thank you for ordering the Modern Shag Rug .
It's your lucky day! There is no shipping charge for orders over $30.00.

---

# Independent Practice: Return Statements

---

> **Q1) Sum all positives**

> Create a function that accepts an array of numbers.

> This function should return a sum of all positive numbers.

In [70]:
test_list_1 = [1, -2, -3, 1]
test_list_2 = [-1]

In [71]:
# Suggested Solution

def sum_positive(number_array):
    pos_nums = []
    for i in number_array:
        if i > 0:
            pos_nums.append(i)
    
    return sum(pos_nums)

In [72]:
sum_positive(test_list_1) # should return 2

2

In [73]:
sum_positive(test_list_2) # Should return 0

0

> **Q2) Let's generate some fake data for our next exercise.** 

> We are generating monthly sales for each department in a store, for the year 2044.

In [74]:
import random

dept_store_sales = [
    {'dept_name':'Food', '2044_monthly_sales': []},
    {'dept_name':'Kids', '2044_monthly_sales': []},
    {'dept_name':'Women', '2044_monthly_sales': []},
    {'dept_name':'Men', '2044_monthly_sales': []}
]

for dept in dept_store_sales:
    dept['2044_monthly_sales'] = random.sample(range(10000, 50000), 12)

In [75]:
dept_store_sales[0]

{'2044_monthly_sales': [48175,
  32985,
  10227,
  19495,
  33830,
  38909,
  48333,
  41828,
  30598,
  31368,
  37951,
  32358],
 'dept_name': 'Food'}

> **Q2A) Loop through all the monthly sales for all departments, adding each amount to the `total_2044_sales` variable defined below.**

In [76]:
total_2044_sales = 0

In [77]:
# Suggested Solution

for dept in dept_store_sales:
    for month_sale in dept['2044_monthly_sales']:
        total_2044_sales += month_sale

In [78]:
total_2044_sales

1502638

> **Q2B) Write a function that calculates and returns the percent of total sales (for 2044) for each department.**

> Then use your function on the simulated data in `dept_store_sales`.

In [79]:
# Suggested Solution

def get_percent(dept_total, total_sales):
    percent_of_total = (sum(dept_total)/total_sales)*100
    return percent_of_total

for dept in dept_store_sales:
    percent = get_percent(dept['2044_monthly_sales'], total_2044_sales)
    print(dept['dept_name'], "Department -- Percent of Total 2044 Sales:", format(percent, '.2f') + '%')

Food Department -- Percent of Total 2044 Sales: 27.02%
Kids Department -- Percent of Total 2044 Sales: 24.43%
Women Department -- Percent of Total 2044 Sales: 22.57%
Men Department -- Percent of Total 2044 Sales: 25.98%

> **Q3) Building a Copy**

> Write a function called `copy_list()` that takes in a list, `original_list`, as a parameter. 

> Your function should create a new list, `my_new_list`, with the contents of the original list + 2 each. 

> Your function should return `my_new_list`.

In [80]:
# Suggested Solution

def copy_list(list_arg):
    my_new_list = []
    for item in range(len(list_arg)):
        my_new_list.append(list_arg[item] + 2)
    return my_new_list

In [82]:
my_list = [1, 2, 3]

my_final_list = copy_list(my_list)

print(my_final_list)
# Will print [3, 4, 5]

[3, 4, 5]