---
# Review Questions


### Get through as many of the questions below.

__Start!__
___

> __Q1) Using the lists defined below (`list1` and `list2`), add one list to the other.__
>
> Expected Output:
>
> `[1, 2, 3, 4]`

In [ ]:
list1 = [1, 2]
list2 = [3, 4]

---

> __Q2)__ If we list all the natural numbers below 10 that are multiples of 3 or 5, we get: 3, 5, 6 and 9.
>
> The sum of these multiples is 23.
>
> __Find the sum of all the multiples of 3 or 5 below 1000.__

In [ ]:
multiples_list = []

---
> __Q3)__ I have a list of genders from a database:

In [ ]:
genders = ['Male', 'Female', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Female', 'Female', 'Female']

> In order to use this list in a machine learning algorithm, we need `genders` to be converted to 1's and 0's.
>
> __First, write a for loop that appends a new list called `females` with a 1 if the gender is female and 0 otherwise.__

> Expected Output:
>
> `[0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1]`

In [ ]:
females = []

---
> __Q4) Using a for loop, filter the following array of numbers into a new list containing only the even numbers.__

> **Hint:** If i is even, i % 2 == 0. Otherwise, i % 2 == 1. (% is the modulus operator. It returns the remainder.)

> Expected Output:
>
> `[2, 4, 6, 8, 10]`

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = []

---
> **Q5) Sort the list of numbers below from greatest to least**

In [ ]:
numbers = [10, 2, -1, 0, 3, 5]

---
### CHALLENGE QUESTIONS

> __Q6A) Create a list called `dwarves_list` that splits `dwarves_string` on the spaces.__
>
> *Hint: Use the method `.split()`*

> Expected Output:
>
> `['Bashful,', 'Doc,', 'Dopey,', 'Happy,', 'Sleepy,', 'Sneezy', 'and', 'Grumpy']`

In [ ]:
dwarves_string = "Bashful, Doc, Dopey, Happy, Sleepy, Sneezy and Grumpy"

In [ ]:
dwarves_list = # this is where you create a list from dwarves_string

> **Q6B) Now use a for loop to remove the commas.**

> *Hint: use method `.replace()` on string*

> *NOTE: You'll still see commas in your output between each element in the list. Just make sure they aren't in the strings.*

> Expected Output:

> `['Bashful', 'Doc', 'Dopey', 'Happy', 'Sleepy', 'Sneezy', 'and', 'Grumpy']`

> **Q6C) Finally, remove the word 'and' from your list.**

> Expected Output:

> `['Bashful,', 'Doc,', 'Dopey,', 'Happy,', 'Sleepy,', 'Sneezy', 'Grumpy']`